<h1>Please Login</h1>

<%= form_tag('/sessions') do %>
  <div class="form-group">
  <label>Email: </label>
  <%= text_field_tag :email, nil, class: "form-control" %><br>
  </div>

  <div class="form-group">
  <label>Password: </label>
  <%= password_field_tag :password, nil, class: "form-control" %><br>
  </div>

  <div class="actions">
  <%= submit_tag "Sign In", class: "btn btn-primary" %>
  </div>
<% end%>

<br><br>

Or login with Google...

<br>

<a href="/auth/google_oauth2"><img src="https://banner2.cleanpng.com/20180423/gkw/kisspng-google-logo-logo-logo-5ade7dc753b015.9317679115245306313428.jpg" width="50" height="50"/></a>