<h1><%= @user.name %></h1>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Librarian?</strong> <%= @user.librarian ? 'yes' : 'no' %></p>

<br>


<!-- REMOVE THIS -->
<h4><%= link_to "View Your Books", user_books_path(@user) %></h4>
